@import "src/variables";

.answer-needs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  img {
    // maintain aspect ratio while ensuring content is filled
    min-width: 240px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .veggies {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .description {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans Light";
    flex: 1; // allow 100% width on flex wrap

    h2 {
      font-size: 1.7em;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 0;
      color: $magenta;
    }

    hr {
      width: 100%;
    }

    p {
      line-height: 2em;

      &.bold {
        font-weight: bold;
      }
    }
  }
}
