@import "src/variables";

.answer-needs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  img {
    @include responsive-image;
    height: 100%;
  }

  .field,
  .veggies,
  .description {
    flex: 1;
  }

  .veggies {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .description {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans Light";
    min-width: 240px;

    .header {
      font-size: 1.7em;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
    }

    .sub-header {
      text-transform: uppercase;
      margin-bottom: 0;
      color: $magenta;
    }

    hr {
      width: 100%;
    }

    p.bold {
      font-weight: bold;
    }
  }
}
