.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 174px;
  height: 100vh;
  box-sizing: border-box;
  padding: 186px 72px;
  overflow: overlay;

  // adjust container spacing on mobile view
  @media screen and (max-width: 320px) {
    padding: 32px;
  }
}
